{% extends '_default.html.twig' %}

{% block aboutStyle %}currentPage{% endblock %}

{% block main %}

<!DOCTYPE html>
<html>
<head>
<title>
	about
</title>
	<style>@import "css/nav2.css"</style>
	<style>@import "css/Edstyle.css"</style>

<!--	<style>@import "css/columntest.css"</style> /*test*/ -->

<!----------------------------------------------------Style End -------------------------------------------------------------------->
</head>
<body>



<header>
<h1>

<div class = "img1">

<img src ="images/olderdee.jpg"class="header" alt = "picture of john dee"></section>


The Life of Dr. John Dee</h1>


</header>



<div class= "column_container">

	<section class="leftside">
	<h2>About</h2>
	<p>
	This website was created for educational purposes. If you have any questions please contact <a href = "mailto: webmaster@johndeeblog.com"> the webmaster </a>
	<p>

</section>


	<section class="rightside">


	   <h2> Links </h2>
	    <p> here are some other Dee related from other parts of the web </p>
	 	 <nav>
	        <ul>
			 <li><a href= " "> Gaurdian Article </a></li>
			 <li><a href= " "> Enochain Dictionary </a></li>
			 <li><a href= " "> Sensational Documentary</a></li>
			 <li><a href= " "> Gaurdian Article </a></li>
			 <li><a href= " "> Enochain Dictionary </a></li>
			 <li><a href= " "> Sensational Documentary</a></li>
			</ul>
		</nav>
		<img src = "images/sigil2.gif" alt = "sigil" align = "right">

	 <h2> Articles</h2>
	    <p> here are some other Dee related articles </p>
	     <ul>
					 <li><a href= " "> Gaurdian Article </a></li>
					 <li><a href= " "> Enochain Dictionary </a></li>
					 <li><a href= " "> Sensational Documentary</a></li>
					 <li><a href= " "> Gaurdian Article </a></li>
					 <li><a href= " "> Enochain Dictionary </a></li>
					 <li><a href= " "> Sensational Documentary</a></li>
		</ul>



	</section>



	</div>


	<div id ="footer">

</nav>
	<footer>
	   <p class = "copyright"> Copyright &copy; 2016 </p>
	</footer>
	</body>

	</html>
{% endblock %}