{% extends '_default.html.twig' %}

{% block earlyStyle %}currentPage{% endblock %}

{% block main %}

<!DOCTYPE html>
<html>
<head>
<title>
	Early years and adventures
</title>
	<style>@import "css/nav2.css"</style>
	<style>@import "css/Edstyle.css"</style>
<!--	<style>@import "css/style.css"</style>-->

<!--	<style>@import "css/columntest.css"</style> /*test*/ -->

<!----------------------------------------------------Style End -------------------------------------------------------------------->
</head>
<body>



<header>
<h1>

<div class = "img1">

<img src ="images/olderdee.jpg"class="header" alt = "picture of john dee"></section>


The Life of Dr. John Dee</h1>


</header>



<div class= "column_container">

	<section class="leftside">
	<h2>Early years</h2>
	<p>
	John Dees interest in astronomy and of course astrology begins to flourish. The diary he is keeping is exclusively astrological and to the best of his ability astronomical records on a day to day basis. Dee would now spend his evenings using his Cross Staff which is an astronomical tool used to observe changes in the night's sky. <img src="images\crossstaff.jpg"  alt = "image of a cross staff"  align ="left"> <br> Dee soon learned that England's position in the northern hemisphere was not the ideal location for observing the changes in the heavenly body. Dee in search of information and new observation makes his first foray into mainland Europe. The countries that Dee visited and planned to visit in Europe were not just arbitrary, he visited places that he considered part of the 'intertraffic of the mind'. The changing landscape of Europe from the radical Protestantism in Germany, the renaissance in Italy, the navigational discoveries from Portugal and Imperial forces movements in Spain created a hub of activity unlike any other time in the world. Dee arrived in Louvain near Brussels, he worked in the university and enrolled in a course in Law at his own leisure. Dee engulfed himself in mathematics as much as he could, the university was known for mathematics and medicine. The head professor in the university was Gemma Frisius <img src="images/Frisius_Gemma.jpg" align="right">, he was a professor in the specialities of the college but his most famous discoveries were geographical. Frisus pioneered the use of triangulation and land surveying which enabled a remote land mark to be measured between two points or distance apart. The method relied on trigonometry which at the time was an almost unknown discipline in England. The town that the university became enriched by the theories of Frisius' and soon attracted a following of many amateur cartographers and navigators hoping to learn the newest techniques of the age. An unknown Flemish artist depicted the activities at the time in a painting called <em>the measures</em>. <img src="images/measurers.jpg"  alt = "painting: the measurers " > <br> Measuring tools now were becoming something that was widely manufactured. At his time in brussels Dee would have become familiar with globes, maps that incorporated the discoveries that were made by Columbus and his counterparts in the new world.
	Dee continues his trip across Europe, a man called Pickering is the only English person noted in Dee's diary.  It was Pickering who gave to Dee his famous black obsidian mirror, made from Aztec obsidian perhaps a relic belonging to something pilfered from the new colonies. Dee also acquires a copy of Ptolemy's 'tetrobiblia' the ancient standard in astronomy and astrology. In his time away he was offered positions in a lot of royal Christian courts but refused them all, a bold thing to do for a learned man of only twenty six years old. Now, back in England protest reformation had started to happen, Dee returns to England and takes position in the court of a lord who was send by Dee to be 'a madman' and more of a fighter than someone who was interested in intellectual pursuits. Dee continues to cast horoscopes for his patron and after a short time is promoted by the lord giving Dee a status of an expert and official on astrology.
	Now in Dee's life things are about to take a turn for the worst, King Henrys young son is his heir apparent, only a child assumed power of the throne <img src="images/Edwardchildking.jpg"  alt = "young king Edward"  align ="left"> A short few years into his reign The young king has fallen gravely ill. The doctors at his bedside say it is consumption and he is at deaths door. The doctors too are casting horoscopes to see what concurs with their diagnosis. The prognosis is not good and casting horoscopes would have still be viewed as some form of witchcraft, which was still illegal at the time. So, after the death of the young King Edward, the duke of Northumberland is being investigated on conspiring to place a certain heir of his choosing on the throne of England. The rightful heir Mary is someone that Northumberland doesn't want in power and tries to install her half sister Elizabeth. When the conspiracy is found out many are arrested, including Northumberland, beheaded and burned or both. It was in this time that we learn as to how 'Bloody Mary' acquired her title with the greater public. John Dee's father Roland, now quite a wealthy merchant has also been implicated in Northumberland's conspiracy and has an investigation put to him. Roland Dee escaped with his life but his punishment in the form of monetary fines and sanctions, the once wealthy merchant was now almost penniless.
	In this time the monasteries of the greater London area that encapsulate the span of the church are dissolved opening great tracts of land and the population of the area quadruples. John Dee now longer heir to a thriving merchant and textile business must now fend for himself financially. In late May 1555, a slew of anti-protestant revolution washed over England, people were being rushed by the dozens to the stake and burned. Even Bishops were burned and beheaded <img src="images/burningatstake.jpg" alt = "burning at the stake"  align = "right">
	John Dee would be the next person in the line of sight for the protestant sheriffs and he was arrested, like his father, shortly after.

	Dee is arrested for being a mathematician, a conjurer and a witch. To the courts of the time, all charges were virtually the same. If the investigations were through they would find that he had cast horoscopes for powerful families of England and those of European rule over the past few years. Dee's investigation does lead him to being imprisoned but he is cleared almost immediately, at least in the eyes of those doing the investigation. The only ones attesting to Dee's evil nature are those whom are incarcerated with him, upon seeing his freedom during the remainder of the inquiry, calling dee the worst conjurer of all.
	Dee spent his time in the 'fleet prison' <img src="images/fleetprison.jpg"  alt = "Fleet street prison" > and is named so because of the river of sewage that runs there from a small estuary off the Thames know as 'the fetid fleet river' that passed by the prison windows. Dee would be there for a few months until then he was handed over for further religion investigation where he would be personally examined by the bishop of London, a man who was known as 'Bloody Bonner'<img src="images/EdmundBonner.jpg"  alt = "Bloody Bonner" align = "left" > he took this name from how easily he seemed to condemn people in the previous anti catholic fever to the stake.
	Dee is imprisoned at the bishop's house with a few other people who are accused of heresies, within a short time of being there, Dee essentially flips the table and somehow exonerates himself from any further investigation serving as a chaplain to the bishop for the rest of the proceedings, much to the chagrin of his previous cellmates.

	</p>

</section>



	<section class="rightside">
		<div id ="bio">
		 <h2> Short Biography</h2>

		   	<p>
		   	    <ul>
		   	    	<li>Name: Mary Tudor. </a></li>
		   	    	<br>
		   			<li>Born in: Palace of Placentia, Grenwich February 18, 1516. </a></li>
		   			<br>
		   			<li>Died in: City of Westminster, United Kingdom Novemeber 17, 1558. </a></li>
		   			<br>
		   			<li>Known for: ruling Britian from 1556 to 1558<br> leading a mass execution of citizens giving her the name 'Bloody Mary' </a></li>
		   		</ul>
		   	</p>
			<img src = "images/tinymary.jpg" align = "top right">
	   </div>


  <h2> Links</h2>
    <p> here are some other Dee related links </p>
		<nav>
 	        <ul>
 			 <li><a href= "http://player.fm/series/futility-closet/129-the-voynich-manuscript"> Voynich Manuscript podcast </a></li>
 			 <li><a href= "https://www.youtube.com/watch?v=aghX8pK7oAs"> Sensational History Channel Documentary</a></li>
 			 <li><a href= "http://www.bbc.co.uk/programmes/b01ppwxh"> BBC3 radio Documentary on Dee's cultural impact</a></li>
 			 <li><a href= "http://occultsentinel.com/2011/10/23/os-ep-36-benjamin-woolley-the-queens-conjurer "> Interview with biographer Benjamin Woolley </a></li>
 			 <li><a href= "http://www.gclvx.org/The%20Whole%20Enochian%20Dictionary.pdf"> Enochain Dictionary </a></li>
 			 <li><a href= "https://www.rcplondon.ac.uk/news/lost-library-john-dee"> John Dee's lost library</a></li>
 			</ul>
		</nav>
	<img src = "images/sigil2.gif" alt = "sigil" align ="right">

 <h2> Articles</h2>
    <p> here are some other Dee related news stories and articles </p>
		 <ul>
			 <li><a href= "https://www.theguardian.com/artanddesign/2016/jan/17/john-dee-painting-circle-of-human-skulls-exhibition"> Gaurdian Article </a></li>
			 <li><a href= "https://www.newscientist.com/article/2078295-the-maddeningly-magical-maths-of-john-dee/"> New Scientist </a></li>
			 <li><a href= "http://www.bbc.co.uk/blogs/wales/entries/0fae03f7-469e-3054-a32e-8e79393df7b7"> BBC Wales </a></li>
			 <li><a href= "http://www.wsj.com/articles/the-worlds-most-mysterious-book-1481317536"> Wall Street Journal on the voynich manuscript </a></li>
			 <li><a href= "http://www.atlasobscura.com/articles/queen-elizabeth-is-vast-spy-network-was-the-original-surveillance-state"> Atlas Obscura on Dee's spy network </a></li>
			 <li><a href= "http://www.telegraph.co.uk/books/authors/the-man-who-spoke-to-angels/"> The Telegraph on the man who spoke to angels </a></li>
		</ul>



	</section>



	</div>


	<div id ="footer">
	<nav>
		<ul>
			<li><a href= "johndeehome.html"> Return to home page </a></li>
			<li><a href= "middle.html" > Next page </a></li>
			<li><a href= "Education.html"> previous page</a></li>
			<li><a href= "middle.html"> Middle Period </a></li>
			<li><a href= "LaterYears.html"> Later Years </a></li>
			<li><a href= "Influence.html"> Influence </a></li>
			<li><a href= "Links.html"> Links </a></li>
			<li><a href= "about.html"> about </a></li>
		</ul>
</nav>


<footer>
   <p class = "copyright"> Copyright &copy; 2016 </p>
</footer>
</body>

</html>

{% endblock %}