{% extends '_default.html.twig' %}

{% block introductionStyle %}currentPage{% endblock %}

{% block main %}
<html>
<head>
<title>
	Education
</title>
	<style>@import "css/nav2.css"</style>
	<style>@import "css/Edstyle.css"</style>

<!--	<style>@import "css/columntest.css"</style> /*test*/ -->

<!----------------------------------------------------Style End -------------------------------------------------------------------->
</head>
<body>


<header>
<h1>

<div class = "img1">

<img src ="images/olderdee.jpg"class="header" alt = "picture of john dee"></section>


The Life of Dr. John Dee</h1>


</header>



<div class= "column_container">

	<section class="leftside">
	<h2>Introduction and education</h2>
	<p>Born in 15th Century merchant London.<img src ="images/london-15th-century.jpg" alt = "15th Century London" align = "left">
	<br> To a world that still believed itself Heliocentric governed by the ancient astronomy of Ptolemy.<br><br>
	As the time in which Dee lived underwent so many changes not much of note is written of his childhood. His father Roland was a musician, he took his efforts from earning and put them into a textiles business that he would hope would provide for his family. We know that young John was a good student and earned himself a place in the illustrious Trinity college Cambridge.<br> The world that Dee entered college at was a fractured one, many of the subjects you would see there would be only vaguely reminiscent to the ones we know today.  The great spheres of heaven and hell told by the ancient Greece and Dante were the standard model of the universe. <img src ="images/dantespheres.jpg" alt = "dantes spheres" align ="right" >

	Young John dee is 19 years old reading Greek in trinity college Cambridge. The college had been set up henry the 8th as one of his last acts of his reign. A statue of henry the eighth still stands in the college to this day. At the time of Dee's enrolment, due to some problems that had arisen in the college only thirty students would in enrol that year. Dee would study for 18 hours a day allowing the remaining few hours for sleep and meals. During Dee's time Cambridge mathematics was still looked at with suspicion and in that year book burnings of mathematical texts was a wide occurrence. The belief was that maths books were used in black magic and conjuring. From a historical point, we must note that even the famous Pythagoras in his time was a cult leader, the cult practiced in maths but also in other protoscientific methods such as magic in their time.<img src ="images/CambridgeTrinityGreatGate.JPG" alt = "15th Century London" align = "left">

	Other notable graduates of Cambridge such as Kepler and Newton were both interested in numerology and it certainly had an influence on their work. Kepler had based some of his theories on the shapes of planets upon notions that were commonly attributed to the magical understanding on planetary bodies at the time. Newtons theories were based in the numerological basis of the rule of seven, he attested that there were seven musical notes in the octave, seven planets in the solar system and seven colours in the rainbow.
	In Dee's time in Cambridge he put on a play of Aristophanes 'peace' first produced in 421BC; in the play the protagonist is to contact Zeus for information on the military fortunes of his fellow Athenians. In the opening scenes, the hero calls on a flying creature to be sent by Zeus to lead him to the top of Mount Olympus. Immediately Zeus grant the heroes wish and instead of sending Pegasus or some other noble flying creature, instead he sends a dung beetle. To create a stunning piece for the play Dee turned to mathematics and other relatively unknown methods of mechanics to create a Scarab. It was said at the time that that Dee's creation flew to the top of the theatre hall in Cambridge and impressed the audience wildly.
	<img src = "images/beetle.jpg" alt "proposed image of beetle machine" align ="right"> No physical evidence of Dee's creation exists but what does exist is that Dee had written an essay on the use of pulleys and winches during his time at Cambridge. In fact, Dee, himself did not totally understand how his mechanical beetle had operated so well. A scene in Shakespeare's <em>a winter's tale</em> echoes Dee's efforts as a special effects designer; Paulina tells the king Leonetes that he will bring a statue of his dead wife back to life.
	In both instances of what Dee had performed for the audience and what Shakespeare is alluding to is quite an early impression of what would be known to the modern age as Androids and Robots.<br>
	The ideas that were forming in these colleges where only a scant number had enrolled had left such an impression at the time that their key notions of mechanics, spirits and robots was being looked back to over one hundred years later to create what we see in Shakespeare.
	One more notable piece that survived the years after Dee's time in Cambridge was a piece called 'thaumaturgy' which is the Greek for one who performs miracles, however this piece would deal entirely with his experience in machinery.




	<p>

</section>


	<section class="rightside">
		<div id ="bio">
		 <h2> Short Biography</h2>

		    	<p>
				  <ul>
					<li>Name: Issac Newton. </a></li>
					<br>
					<li>Born in: January 4, 1643. </a></li>
					<br>
					<li>Lived in: England. </a></li>
					<br>
					<li>Died in: Kensington, London, England March 31, 1727. </a></li>
					<br>
					<li>Interests in: Mathematics, alchemy, astrology<br> Theology, astronomy & physics </a></li>
				  </ul>
				</p>
			<img src = "images/tinynewton.jpg" align = "top right">
	   </div>

  <h2> Links</h2>
    <p> here are some other Dee related links </p>
		<nav>
 	        <ul>
 			 <li><a href= "http://player.fm/series/futility-closet/129-the-voynich-manuscript"> Voynich Manuscript podcast </a></li>
 			 <li><a href= "https://www.youtube.com/watch?v=aghX8pK7oAs"> Sensational History Channel Documentary</a></li>
 			 <li><a href= "http://www.bbc.co.uk/programmes/b01ppwxh"> BBC3 radio Documentary on Dee's cultural impact</a></li>
 			 <li><a href= "http://occultsentinel.com/2011/10/23/os-ep-36-benjamin-woolley-the-queens-conjurer "> Interview with biographer Benjamin Woolley </a></li>
 			 <li><a href= "http://www.gclvx.org/The%20Whole%20Enochian%20Dictionary.pdf"> Enochain Dictionary </a></li>
 			 <li><a href= "https://www.rcplondon.ac.uk/news/lost-library-john-dee"> John Dee's lost library</a></li>
 			</ul>
		</nav>
	<img src = "images/sigil2.gif" alt = "sigil" align ="right">

 <h2> Articles</h2>
    <p> here are some other Dee related news stories and articles </p>
		 <ul>
			 <li><a href= "https://www.theguardian.com/artanddesign/2016/jan/17/john-dee-painting-circle-of-human-skulls-exhibition"> Gaurdian Article </a></li>
			 <li><a href= "https://www.newscientist.com/article/2078295-the-maddeningly-magical-maths-of-john-dee/"> New Scientist </a></li>
			 <li><a href= "http://www.bbc.co.uk/blogs/wales/entries/0fae03f7-469e-3054-a32e-8e79393df7b7"> BBC Wales </a></li>
			 <li><a href= "http://www.wsj.com/articles/the-worlds-most-mysterious-book-1481317536"> Wall Street Journal on the voynich manuscript </a></li>
			 <li><a href= "http://www.atlasobscura.com/articles/queen-elizabeth-is-vast-spy-network-was-the-original-surveillance-state"> Atlas Obscura on Dee's spy network </a></li>
			 <li><a href= "http://www.telegraph.co.uk/books/authors/the-man-who-spoke-to-angels/"> The Telegraph on the man who spoke to angels </a></li>
		</ul>



	</section>



	</div>


	<div id ="footer">
	<nav>
		<ul>
			<li><a href= "johndeehome.html"> Return to home page </a></li>
			<li><a href= "Earlyyears.html"> Next page </a></li>
			<li><a href= "johndeehome.html"> previous page</a></li>
			<li><a href= "middle.html"> Middle Period </a></li>
			<li><a href= "LaterYears.html"> Later Years </a></li>
			<li><a href= "Influence.html"> Influence </a></li>
			<li><a href= "Links.html"> Links </a></li>
			<li><a href= "about.html"> about </a></li>
		</ul>
</nav>

<footer>
   <p class = "copyright"> Copyright &copy; 2016 </p>
</footer>
</body>

</html>

{% endblock %}