{% extends '_default.html.twig' %}

{% block laterStyle %}currentPage{% endblock %}

{% block main %}

<!DOCTYPE html>
<html>
<head>
<title>
	Later Years
</title>
	<style>@import "css/nav2.css"</style>
	<style>@import "css/Edstyle.css"</style>

<!--	<style>@import "css/columntest.css"</style> /*test*/ -->

<!----------------------------------------------------Style End -------------------------------------------------------------------->
</head>
<body>



<header>
<h1>

<div class = "img1">

<img src ="images/olderdee.jpg"class="header" alt = "picture of john dee"></section>


The Life of Dr. John Dee</h1>


</header>



<div class= "column_container">

	<section class="leftside">
	<h2>Later Years and Solitude</h2>

	<p>

	Dee's developments in any field he had given so many years of study to is unknown. His greatest developments came shortly after completing his library, what author Benjamin Woolley describes as 'a cosmos in a cottage'. Dee was however a pioneer of the craft of spying, one book in his library had a great influence on him. In his time in Europe Dee had picked up a copy of Johannes Trithemius' <em>Steganographia</em> which details methods of spying, written as, communication with angels and magical techniques, but was actually a book on writing cryptographic codes.<img src ="images/queens_head.png" alt="john dees home">
Through an agent, Dee had come to know an Irishman who was said to be a natural see'r of spirits. Edward Kelly claimed to be Irish as the association of Irish people to naturally see spirits and fairies was a well-known fact of the time. Kelly was born in Worcester in 1555, around the same time Dee was an inmate in Fleet street prison. The agent that had come to know Kelly was hired by Dee to look for eminent psychic mediums. It's not fully known how Kelly arrived at Dee's home. Communicating with angels was not seen as something strange at the time but usually to do so you would just continue with the religious standard of the time and pray in the church.
<br>Dee and Kelly begin a series of conversations with enochian angels, speaking the first and original language of adam. The angels tell Dee and Kelly to go to Poland at first</br>

In the 1580's Dee was in pursuit of the 'language of Adam' something he believed existed but had been lost and forgotten, so that he may learn it and talk directly to god. Dee had set up a laboratory at his home in Mortlake to conduct a series of experiments, he attempted as almost everyone did at the time to create a philosopher's stone.<br>The angels then tell Dee and Kelly to go to Bohemia and confront Emporer Rudolf II and explain to him that he is a heretic.</br><br>The pair then offer Rudolf the philosophers stone, the chemical process of turning base metal and stones into gold, upon hearing this news Pope Sixtus sends spies to bohemia. Kelly lost his life in Bohemia attempting to make the Philosphers stone for Rudolph. Essentially imprisoned Kelly attempted to escape the castle from a window and later died of his injuries.</br> Dee and Kelly's attempts to speak the language of Adam would be recorded in a book 'conversations with angels. This coming from a man that owned multiple advanced scientific treatises on Astronomy, Trigonometry and Religion. But to Dee everything he was doing had a scientific result, after all everything he was doing was also done with his strong personal belief in god and to understand nature.
Unlike Prospero in the Tempest, John Dee would not renounce his supernatural ways and repent, he would follow this inclination of answers from the spirit world until he died, a reclusive pauper. <img src ="images/deeandkelly.jpg" alt = "john and edward summoning spirits">
	</p>



</section>


	<section class="rightside">
		<div id ="bio">
		 <h2> Short Biography</h2>

		    	<p>
				 <ul>
					<li>Name: Edward Kelly. </a></li>
					<br>
					<li>Born in: Worcester, England. August 1, 1555. </a></li>
					<br>
					<li>Died in: Most, Bohemia. November 25, 1597. </a></li>
					<br>
					<li>Interests in: Angels, Occultism, alchemy<br> spirit medium, conjuring </a></li>
				 </ul>
				</p>
			<img src = "images/tinykelly.jpg" align = "top right">
	   </div>


  <h2> Links</h2>
    <p> here are some other Dee related links </p>
		<nav>
 	        <ul>
 			 <li><a href= "http://player.fm/series/futility-closet/129-the-voynich-manuscript"> Voynich Manuscript podcast </a></li>
 			 <li><a href= "https://www.youtube.com/watch?v=aghX8pK7oAs"> Sensational History Channel Documentary</a></li>
 			 <li><a href= "http://www.bbc.co.uk/programmes/b01ppwxh"> BBC3 radio Documentary on Dee's cultural impact</a></li>
 			 <li><a href= "http://occultsentinel.com/2011/10/23/os-ep-36-benjamin-woolley-the-queens-conjurer "> Interview with biographer Benjamin Woolley </a></li>
 			 <li><a href= "http://www.gclvx.org/The%20Whole%20Enochian%20Dictionary.pdf"> Enochain Dictionary </a></li>
 			 <li><a href= "https://www.rcplondon.ac.uk/news/lost-library-john-dee"> John Dee's lost library</a></li>
 			</ul>
		</nav>
	<img src = "images/sigil2.gif" alt = "sigil" align ="right">

 <h2> Articles</h2>
    <p> here are some other Dee related news stories and articles </p>
		 <ul>
			 <li><a href= "https://www.theguardian.com/artanddesign/2016/jan/17/john-dee-painting-circle-of-human-skulls-exhibition"> Gaurdian Article </a></li>
			 <li><a href= "https://www.newscientist.com/article/2078295-the-maddeningly-magical-maths-of-john-dee/"> New Scientist </a></li>
			 <li><a href= "http://www.bbc.co.uk/blogs/wales/entries/0fae03f7-469e-3054-a32e-8e79393df7b7"> BBC Wales </a></li>
			 <li><a href= "http://www.wsj.com/articles/the-worlds-most-mysterious-book-1481317536"> Wall Street Journal on the voynich manuscript </a></li>
			 <li><a href= "http://www.atlasobscura.com/articles/queen-elizabeth-is-vast-spy-network-was-the-original-surveillance-state"> Atlas Obscura on Dee's spy network </a></li>
			 <li><a href= "http://www.telegraph.co.uk/books/authors/the-man-who-spoke-to-angels/"> The Telegraph on the man who spoke to angels </a></li>
		</ul>





	</section>



	</div>


	<div id ="footer">
	<nav>
		<ul>
			<li><a href= "johndeehome.html"> Return to home page </a></li>
			<li><a href= "Influence.html" > Next page </a></li>
			<li><a href= "middle.html"> previous page</a></li>
			<li><a href= "middle.html"> Middle Period </a></li>
			<li><a href= "LaterYears.html"> Later Years </a></li>
			<li><a href= "Influence.html"> Influence </a></li>
			<li><a href= "Links.html"> Links </a></li>
			<li><a href= "about.html"> about </a></li>
		</ul>
</nav>
	<footer>
   		<p class = "copyright"> Copyright &copy; 2016 </p>
	</footer>

   </body>

</html>

{% endblock %}