{% extends '_default.html.twig' %}

{% block middleStyle %}currentPage{% endblock %}

{% block main %}

<!DOCTYPE html>
<html>
<head>
<title>
	Middle period
</title>
	<style>@import "css/nav2.css"</style>
	<style>@import "css/Edstyle.css"</style>

<!--	<style>@import "css/columntest.css"</style> /*test*/ -->

<!----------------------------------------------------Style End -------------------------------------------------------------------->
</head>
<body>



<header>
<h1>

<div class = "img1">

<img src ="images/olderdee.jpg"class="header" alt = "picture of john dee"></section>


The Life of Dr. John Dee</h1>


</header>

													    <!-- text -->
<div class= "column_container">

	<section class="leftside">
	<h2>Middle period</h2>
	<p>
	<br>Even though when imprisoned dee horoscopes were found, he cast one that wished to be true, that Elizabeth would rise to the throne </br>

	<br>The horoscope does come true, Elizabeth rises to the throne </br>

	<br> Elizabeth now at the throne surrounded by a catholic heirarchical infrastructure in the palace, she turns to Dee to cast horoscopes in order to warn her of assassins  </br>

	<br> Dee becomes a trusted advisor to the Queen </br>

	<br> Dee would have nightmares about William Cecil </br>

	<br> Many of the more serious politicians would have considered it strange that Dee would be part of their circle in the way he would conduct himself through his interests in divinity</br>

	<br> In this time Dee acquires a great library and as many maps as he can find, it was in this time he coined the term british expansion. He contributed to very foundation of the great british expansion
	in british hisory</br>

    <br>His love of mathematics still edured him to astronomy, chemistry, navigation and many more</br>

    <img src ="images/qe.jpg" alt ="john dee doing an experiment for queen elizabeth">

    <br>Dee's turning point was his aquistion of the Stenographia</br>

    <br>In the 16th Century, demons would take the form of illness or plague</br>

    <br>After exhausting all other methods of understanding the paradox of illnesses Dee began to look to the supernatural</br>

	<p>

</section>
														<!-- text -->

	<section class="rightside">
		<div id ="bio">
		 <h2> Short Biography</h2>

		    	<p>
				 <ul>
				<li>Name: Elizabeth I. </a></li>
					<br>
				<li>Born in: Palace of Placentia, 7 September 1533 </a></li>
					<br>
				<li>Died in: Richmond Palace, Surrey, England. 24 March 1603 </a></li>
					<br>
				<li>Known for: ruling Britian from 17 November 1558 - 24 March 1603<br> She saw a peroid of great prosperity in Britian and created the start of the British Empire </a></li>
					</ul>
				</p>
			<img src = "images/tinyqueen.jpg" align = "top right">
	   </div>


  <h2> Links</h2>
    <p> here are some other Dee related links </p>
		<nav>
 	        <ul>
 			 <li><a href= "http://player.fm/series/futility-closet/129-the-voynich-manuscript"> Voynich Manuscript podcast </a></li>
 			 <li><a href= "https://www.youtube.com/watch?v=aghX8pK7oAs"> Sensational History Channel Documentary</a></li>
 			 <li><a href= "http://www.bbc.co.uk/programmes/b01ppwxh"> BBC3 radio Documentary on Dee's cultural impact</a></li>
 			 <li><a href= "http://occultsentinel.com/2011/10/23/os-ep-36-benjamin-woolley-the-queens-conjurer "> Interview with biographer Benjamin Woolley </a></li>
 			 <li><a href= "http://www.gclvx.org/The%20Whole%20Enochian%20Dictionary.pdf"> Enochain Dictionary </a></li>
 			 <li><a href= "https://www.rcplondon.ac.uk/news/lost-library-john-dee"> John Dee's lost library</a></li>
 			</ul>
		</nav>
	<img src = "images/sigil2.gif" alt = "sigil" align ="right">

 <h2> Articles</h2>
    <p> here are some other Dee related news stories and articles </p>
		 <ul>
			 <li><a href= "https://www.theguardian.com/artanddesign/2016/jan/17/john-dee-painting-circle-of-human-skulls-exhibition"> Gaurdian Article </a></li>
			 <li><a href= "https://www.newscientist.com/article/2078295-the-maddeningly-magical-maths-of-john-dee/"> New Scientist </a></li>
			 <li><a href= "http://www.bbc.co.uk/blogs/wales/entries/0fae03f7-469e-3054-a32e-8e79393df7b7"> BBC Wales </a></li>
			 <li><a href= "http://www.wsj.com/articles/the-worlds-most-mysterious-book-1481317536"> Wall Street Journal on the voynich manuscript </a></li>
			 <li><a href= "http://www.atlasobscura.com/articles/queen-elizabeth-is-vast-spy-network-was-the-original-surveillance-state"> Atlas Obscura on Dee's spy network </a></li>
			 <li><a href= "http://www.telegraph.co.uk/books/authors/the-man-who-spoke-to-angels/"> The Telegraph on the man who spoke to angels </a></li>
		</ul>



	</section>



	</div>


	<div id ="footer">
	<nav>
		<ul>
			<li><a href= "johndeehome.html"> Return to home page </a></li>
			<li><a href= "LaterYears.html" > Next page </a></li>
			<li><a href= "Earlyyears.html"> previous page</a></li>
			<li><a href= "middle.html"> Middle Period </a></li>
			<li><a href= "LaterYears.html"> Later Years </a></li>
			<li><a href= "Influence.html"> Influence </a></li>
			<li><a href= "Links.html"> Links </a></li>
			<li><a href= "about.html"> about </a></li>
		</ul>
</nav>

	<footer>
	   <p class = "copyright"> Copyright &copy; 2016 </p>
	</footer>
	</body>

	</html>

{% endblock %}