{% extends '_default.html.twig' %}

{% block testStyle %}currentPage{% endblock %}

{% block main %}

<!DOCTYPE html>
<html>
<head>
<title>
	page1
</title>
<!--	<style>@import "css/nav.css"</style>
	<style>@import "css/style.css"</style>


REMEMBER THIS IS JUST A TEST PAGE FULL OF RUBBISH TEXT! NOT PART OF THE THE WEBSITE LAYOUT IT IS CALLED page1 somewhere
and refered to also as testStyle, USE IT TO TEST JAVASCRIPT and CSS I suppose

I dont want to pull it out of the Controller until the rest of the site is stable


	-->
</head>
<body>

<h1>THIS IS PAGE ONE! TEEESSSTTTINNNNGGGG!!!!!! </h1>

<h1>page1</h1>
<nav>
	<ul> <!---
		<li><a href= "home.html"> home </a></li>
		<li><a href= "page1.html"> page1 </a></li>
		<li><a href= "page2.html"> page2 </a></li>
		<li><a href= "page3.html"> page3 </a></li>
		<li><a href= "page4.html"> page4 </a></li>
		<li><a href= "page5.html"> page5 </a></li>
		<li><a href= "about.html"> about </a></li>
	</ul>
</nav>

--->
<!----------------------------------------------Aside Section------------------------------------------------------------------>
<aside>

<h3>Here are some other things you may be interested in</h3>

<p>
Praesent feugiat molestie nisi, in mattis odio tincidunt laoreet. Cras tincidunt lectus id egestas laoreet. Curabitur iaculis pharetra urna, vitae consectetur massa porta id. Mauris mi magna, tincidunt malesuada tristique non, cursus in dui. Vestibulum orci justo, maximus vel vulputate non, auctor sed turpis. Donec sed eros et erat efficitur vulputate quis ac erat. Etiam aliquet massa sed aliquam efficitur. Pellentesque rutrum risus diam. Morbi orci augue, pharetra at diam at, convallis pellentesque augue.
</p>

</aside>

<!--------------------------------------------End of Aside Section ----------------------------------------------------------------->


<h2>Introduction</h2>

<div id ="content"> <!--content & article divs-->

<article>
<p>

	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum faucibus libero, non viverra risus. Nulla facilisi. Mauris consequat laoreet diam et laoreet. Mauris tempor eros leo, sed mollis enim gravida luctus. Etiam ut lorem in quam sagittis eleifend. Donec nec nunc non nunc vulputate venenatis. Nam at justo molestie, laoreet ante ut, suscipit nisi. Sed quis tellus quam. Fusce eget aliquam dolor. Nam vehicula, dolor sed fermentum tempor, mauris orci semper ante, nec hendrerit turpis tellus posuere sem. Pellentesque sem lorem, pellentesque sit amet felis at, cursus sagittis felis. Praesent bibendum at massa vel auctor. Phasellus eget sodales urna, nec aliquam augue. Maecenas bibendum eget lacus sit amet ullamcorper. Sed nec rhoncus nisl.

	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In eget tempus purus, et efficitur diam. Vestibulum non quam gravida, convallis mi ac, tincidunt lorem. Aenean congue lacinia tortor vitae ullamcorper. Duis quam arcu, venenatis ac consectetur id, imperdiet tempor est. Suspendisse in odio in justo suscipit porta. Donec ut ipsum interdum, pulvinar ligula suscipit, faucibus lacus. Nullam in lacus justo.

</p>
</article>

<article>
<p>

	Phasellus interdum quis nibh non efficitur. Nam viverra nibh pharetra, accumsan arcu ac, interdum lectus. Proin euismod risus at nisl tristique, eget vestibulum sapien hendrerit. Morbi commodo, lectus vitae placerat rhoncus, sapien dui vehicula augue, blandit porta est velit in diam. Nulla nec molestie odio. Maecenas et nunc justo. Integer id orci dolor. Donec nec efficitur lacus. Vivamus fermentum magna ipsum. Duis sit amet sollicitudin ipsum. Vestibulum congue ante a egestas pulvinar.

	Pellentesque commodo imperdiet semper. Nam gravida dolor scelerisque, euismod lectus in, gravida nisi. In non tristique est. Pellentesque in bibendum nisi, quis finibus leo. In iaculis euismod vulputate. Aenean nunc est, facilisis sed tristique quis, scelerisque sed purus. Suspendisse nec ornare lectus, eu ornare leo.

	Praesent feugiat molestie nisi, in mattis odio tincidunt laoreet. Cras tincidunt lectus id egestas laoreet. Curabitur iaculis pharetra urna, vitae consectetur massa porta id. Mauris mi magna, tincidunt malesuada tristique non, cursus in dui. Vestibulum orci justo, maximus vel vulputate non, auctor sed turpis. Donec sed eros et erat efficitur vulputate quis ac erat. Etiam aliquet massa sed aliquam efficitur. Pellentesque rutrum risus diam. Morbi orci augue, pharetra at diam at, convallis pellentesque augue. Quisque vulputate dui massa, vel volutpat velit malesuada sit amet. Vestibulum nec euismod dolor. Suspendisse suscipit odio nec tortor placerat ullamcorper.

</p>
</article> <!-- end of main articles and content div-->





<!----------------------------------end of page, page selector and footer ------------------------------------------------------>

<a href = "page2.html"> Next page </a>

<!----------------------------------footer section------------------------------------------------------------------------------>


<footer>
		<p>this is the footer section</p>
</footer>

</body>
</html>

{% endblock %}